@font-face {
  font-family: prata;
  src: url(https://fonts.google.com/specimen/Prata);
}
@font-face {
  font-family: inter;
  src: url(https://fonts.google.com/specimen/Inter);
}

body {
  background-color: black;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
}

/* Typography */

h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0;
}

h2 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
}

h3 {
  color: white;
  font-family: prata;
}

h4 {
  color: white;
  font-family: prata;
}

p {
  font-weight: 1;
  color: rgba(161, 161, 161, 0.979);
  font-size: 0.9rem;
  margin-top: 0.3em;
}

a {
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  font-family: inter;
  font-weight: lighter;
}

button {
  width: 120px;
  max-width: 125px;
  height: 40px;
  background: rgb(255, 255, 0);
  border: none;
  font-family: prata;
}

/* Layout */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.columns {
  margin: 0;
  padding: 1.5em 4em;
}
.header {
  margin: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav .navList {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0.2em 0;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
}

.col-1 {
  padding-top: 0;
  margin-top: 0;
  max-width: 50%;
}

.col-2 {
  display: flex;
  gap: 1.5em;
  max-width: 80%;
}

.col-3 {
  display: flex;
  justify-content: space-between;
}

article {
  max-width: 46%;
  display: flex;
  flex-direction: column;
}

article img {
  max-width: 100%;
}

.col-4 {
  columns: 2;
  column-gap: 2em;
  background-color: rgb(46, 48, 56);
}

.col-5 {
  max-width: 50%;
  padding-bottom: 3em;
}

.col-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(46, 48, 56);
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .container {
    max-width: 768;
  }

  .columns {
    padding: 1.5em 2em;
  }

  .col-2 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0em 4em;
  }
  .col-3 {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  article {
    max-width: 100%;
    gap: 1em;
  }

  article img {
    max-width: 100%;
  }

  .col-4 {
    display: flex;
    flex-direction: column;
    columns: 0;
  }

  .navList {
    display: none;
    visibility: hidden;
  }

  .header button {
    display: none;
    visibility: hidden;
  }

  .hamburger {
    display: block;
  }
}
